<!DOCTYPE html>
<html data-th-lang="#{lang.code}">
<head>
    <title data-th-text="#{window.title}">window.title</title>
    <link data-th-replace="thymeleaf-fragments :: styling-and-scripts-in-header"/>
</head>
<body>

<div class="container-fluid">
    <link data-th-replace="thymeleaf-fragments :: navigation-bar"/>

    <div class="row" style="margin-top: 4px; margin-bottom: 4px">
        <div class="col-xs-12" id="mainpage">
            <p data-th-text="#{noscript.hint}" id="hide_with_js">noscript.hint</p>
        </div>
    </div>
    <div style="visibility: hidden;" id="unhide_with_js">
        <div class="well well-sm">
            <div class="row" style="margin-top: 10%; margin-bottom: 15%">
                <div class="col-xs-9">
                    <h1 data-th-text="#{main.explanation1}">main.explanation1</h1>
                </div>
                <div class="col-xs-3"></div>
            </div>
            <div class="row" style="margin-top: 10%; margin-bottom: 15%">
                <div class="col-xs-3"></div>
                <div class="col-xs-9">
                    <h1 data-th-text="#{main.explanation2}">main.explanation2</h1>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10%">
            <div class="col-xs-4"></div>
            <div class="col-xs-4" align="center">
                <a data-th-href="@{/reservation-form}" data-th-text="#{main.button.request}" class="btn btn-primary active" role="button">main.button.request</a>
            </div>
            <div class="col-xs-4"></div>
        </div>
    </div>

    <link data-th-replace="thymeleaf-fragments :: page-footer"/>
</div>

</body>
</html>
