<!DOCTYPE html>
<html data-th-lang="#{lang.code}">
<head>
    <title data-th-text="#{window.title}">window.title</title>
    <link data-th-replace="thymeleaf-fragments :: styling-and-scripts-in-header"/>
</head>
<body>

<div class="container-fluid">
    <link data-th-replace="thymeleaf-fragments :: navigation-bar"/>

    <div class="row">
        <div class="col-xs-12" id="showpage">
            <p><b data-th-text="#{show.heading}" data-th-remove="tag">show.heading</b>: <a data-th-href="${mailtolink}" data-th-text="#{show.link}">show.link</a>! <b data-th-text="#{show.notallbrowsers}" data-th-remove="tag">show.notallbrowsers</b></p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p><b data-th-text="#{show.warning}">show.warning</b></p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p><br/></p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p data-th-text="#{show.alternative}">show.alternative</p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2" data-th-text="#{show.to}" for="email_to">show.to</label>
        <div class="col-xs-10">
            <input class="form-control" id="email_to" name="email_to" data-th-value="${recipient}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2" data-th-text="#{show.subject}" for="email_subject">show.subject</label>
        <div class="col-xs-10">
            <input class="form-control" id="email_subject" name="email_subject" data-th-value="${subject}"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <textarea class="form-control" rows="40" id="email" name="email" data-th-text="${email}"></textarea>
        </div>
    </div>

    <link data-th-replace="thymeleaf-fragments :: page-footer"/>
</div>

</body>
</html>
