<!DOCTYPE html>
<html data-th-lang="#{lang.code}">
<head>
    <title data-th-text="#{window.title}">window.title</title>
    <link data-th-replace="thymeleaf-fragments :: styling-and-scripts-in-header"/>
</head>
<body>

<div class="container-fluid">
    <link data-th-replace="thymeleaf-fragments :: navigation-bar"/>

    <div class="container-fluid">
        <form action="reservation-show" id="form" method="post" class="form-horizontal">
            <div class="form-group" id="formpage">
                <input type="hidden" id="size_initial" name="roomsizeinitial" data-th-value="${roomsize}"/>
                <p class="control-label col-xs-2" data-th-text="#{form.size}">form.size</p>
                <div class="col-xs-1"></div>
                <label id="size_single_label" class="btn btn-primary col-xs-3">
                    <input type="radio" id="size_single" name="roomsize" value="1"/>
                    &nbsp;
                    <span data-th-text="#{form.size.single}" data-th-remove="tag">form.size.single</span>
                </label>
                <label id="size_double_label" class="btn btn-primary col-xs-3">
                    <input type="radio" id="size_double" name="roomsize" value="2"/>
                    &nbsp;
                    <span data-th-text="#{form.size.double}" data-th-remove="tag">form.size.double</span>
                </label>
                <label id="size_triple_label" class="btn btn-primary col-xs-3">
                    <input type="radio" id="size_triple" name="roomsize" value="3"/>
                    &nbsp;
                    <span data-th-text="#{form.size.triple}" data-th-remove="tag">form.size.triple</span>
                </label>
            </div>
            <div class="">
                <p class="col-xs-3"></p>
                <p class="col-xs-3"><b data-th-text="#{form.person1}">form.person1</b></p>
                <p class="col-xs-3"><b data-th-text="#{form.person2}">form.person2</b></p>
                <p class="col-xs-3"><b data-th-text="#{form.person3}">form.person3</b></p>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2" data-th-text="#{form.name}" for="name2">form.name</label>
                <div class="col-xs-1"></div>
                <div class="col-xs-3 firstpersoncolumn">
                    <p class="control-label" style="text-align: left" data-th-text="${name1}">name1</p>
                </div>
                <div class="col-xs-3 secondpersoncolumn">
                    <input data-th-title="#{form.name2}" class="form-control secondperson" id="name2" name="name2" type="text" data-th-placeholder="#{form.name2}" data-th-value="${name2}"/>
                </div>
                <div class="col-xs-3 thirdpersoncolumn">
                    <input data-th-title="#{form.name3}"  class="form-control thirdperson" id="name3" name="name3" type="text" data-th-placeholder="#{form.name3}" data-th-value="${name3}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2" data-th-text="#{form.street}" for="street2">form.street</label>
                <div class="col-xs-1"></div>
                <div class="col-xs-3 firstpersoncolumn">
                    <p class="control-label" style="text-align: left" data-th-text="${street1}">street1</p>
                </div>
                <div class="col-xs-3 secondpersoncolumn">
                    <input data-th-title="#{form.street2}" class="form-control secondperson" id="street2" name="street2" type="text" data-th-placeholder="#{form.street2}" data-th-value="${street2}"/>
                </div>
                <div class="col-xs-3 thirdpersoncolumn">
                    <input data-th-title="#{form.street3}"  class="form-control thirdperson" id="street3" name="street3" type="text" data-th-placeholder="#{form.street3}" data-th-value="${street3}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2" data-th-text="#{form.city}" for="city2">form.city</label>
                <div class="col-xs-1"></div>
                <div class="col-xs-3 firstpersoncolumn">
                    <p class="control-label" style="text-align: left" data-th-text="${city1}">city1</p>
                </div>
                <div class="col-xs-3 secondpersoncolumn">
                    <input data-th-title="#{form.city2}" class="form-control secondperson" id="city2" name="city2" type="text" data-th-placeholder="#{form.city2}" data-th-value="${city2}"/>
                </div>
                <div class="col-xs-3 thirdpersoncolumn">
                    <input data-th-title="#{form.city3}"  class="form-control thirdperson" id="city3" name="city3" type="text" data-th-placeholder="#{form.city3}" data-th-value="${city3}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2" data-th-text="#{form.country}" for="country2">form.country</label>
                <div class="col-xs-1"></div>
                <div class="col-xs-3 firstpersoncolumn">
                    <p class="control-label" style="text-align: left" data-th-text="${country1}">country1</p>
                </div>
                <div class="col-xs-3 secondpersoncolumn">
                    <input data-th-title="#{form.country2}" class="form-control secondperson" id="country2" name="country2" type="text" data-th-placeholder="#{form.country2}" data-th-value="${country2}"/>
                </div>
                <div class="col-xs-3 thirdpersoncolumn">
                    <input data-th-title="#{form.country3}"  class="form-control thirdperson" id="country3" name="country3" type="text" data-th-placeholder="#{form.country3}" data-th-value="${country3}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2" data-th-text="#{form.email}" for="email2">form.email</label>
                <div class="col-xs-1"></div>
                <div class="col-xs-3 firstpersoncolumn">
                    <p class="control-label" style="text-align: left" data-th-text="${email1}">email1</p>
                </div>
                <div class="col-xs-3 secondpersoncolumn">
                    <input data-th-title="#{form.email2}" class="form-control secondperson" id="email2" name="email2" type="email" data-th-placeholder="#{form.email2}" data-th-value="${email2}"/>
                </div>
                <div class="col-xs-3 thirdpersoncolumn">
                    <input data-th-title="#{form.email3}"  class="form-control thirdperson" id="email3" name="email3" type="email" data-th-placeholder="#{form.email3}" data-th-value="${email3}"/>
                </div>
            </div>
            <div class="">
                <p class="col-xs-12"></p>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2" data-th-text="#{form.dates}" for="arrival">form.dates</label>
                <div class="col-xs-2"></div>
                <div class="col-xs-4 input-group">
                    <input type="hidden" id="dateformat" name="dateformat" data-th-value="#{form.date.format}"/>
                    <input type="hidden" id="date1s" name="date1s" data-th-value="#{form.date.earliest}"/>
                    <input type="hidden" id="date1e" name="date1e" data-th-value="#{form.date.latest}"/>
                    <input type="hidden" id="date2s" name="date2s" data-th-value="#{form.date.earliest}"/>
                    <input type="hidden" id="date2e" name="date2e" data-th-value="#{form.date.latest}"/>
                    <span class="has-error" id="arrival_error">
                        <input data-th-title="#{form.date.arrival}" class="form-control" id="arrival" name="arrival" type="text" data-th-placeholder="#{form.date.arrival}" data-th-value="${arrival}?${arrival}:#{form.date.default.arrival}"/>
                    </span>
                    <span class="input-group-addon">-</span>
                    <span class="has-error" id="departure_error">
                        <input data-th-title="#{form.date.departure}" class="form-control" id="departure" name="departure" type="text" data-th-placeholder="#{form.date.departure}" data-th-value="${departure}?${departure}:#{form.date.default.departure}"/>
                    </span>
                </div>
                <div class="col-xs-4"></div>
            </div>
            <div class="">
                <p class="col-xs-12"></p>
            </div>
            <div class="form-group">
                <input type="hidden" id="roomtype_max" name="roomtype_max" data-th-value="${#lists.size(roomtypes)}"/>
                <div class="row" data-th-each="roominfo,iter : ${roomtypes}" data-th-style="${iter.count&gt;1?'margin-top: 2px':''}">
                    <label data-th-if="${iter.count == 1}" class="control-label col-xs-2" data-th-text="#{form.roomtype}">form.roomtype</label>
                    <div data-th-unless="${iter.count == 1}" class="col-xs-2"></div>
                    <div class="col-xs-1"></div>
                    <label data-th-id="'roomtype'+${iter.count}+'button'" class="btn btn-primary col-xs-3" style="text-align: left">
                        <input type="radio" data-th-id="'roomtype'+${iter.count}" name="roomtype" data-th-value="${iter.count}"/>
                        &nbsp;
                        <span data-th-text="${roominfo.name}" data-th-remove="tag">form.size.single</span>
                    </label>
                    <p class="control-label col-xs-3" style="text-align: left"><a target="_blank" data-th-href="${roominfo.infolink}" data-th-text="#{form.roomtype.infolink}">click here for more info</a></p>
                    <p class="control-label col-xs-1" data-th-id="'roomtype'+${iter.count}+'price'">unknown*</p>
                    <p class="control-label col-xs-2" data-th-text="#{form.roomtype.priceinfo}">per night / per room</p>
                    <input type="hidden" data-th-id="'price'+${iter.count}+'_1'" data-th-name="'price'+${iter.count}+'_1'" data-th-value="${roominfo.price1}"/>
                    <input type="hidden" data-th-id="'price'+${iter.count}+'_2'" data-th-name="'price'+${iter.count}+'_2'" data-th-value="${roominfo.price2}"/>
                    <input type="hidden" data-th-id="'price'+${iter.count}+'_3'" data-th-name="'price'+${iter.count}+'_3'" data-th-value="${roominfo.price3}"/>
                    <input type="hidden" data-th-id="roomtype_initial" name="roomtype_initial" data-th-value="${iter.count}" data-th-if="${roominfo.value==roomtype}"/>
                </div>
                <div class="row">
                    <div class="col-xs-3"></div>
                    <p class="col-xs-9" data-th-text="#{form.price.disclaimer}">form.price.disclaimer</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2" data-th-text="#{form.comments}" for="comments">form.comments</label>
                <div class="col-xs-1"></div>
                <div class="col-xs-9">
                    <textarea class="form-control" rows="4" id="comments" name="comments"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2" data-th-text="#{form.understood}" for="understood">form.understood</label>
                <div class="col-xs-1"></div>
                <div class="checkbox col-xs-9 has-error" id="understood_error">
                    <label><input type="checkbox" id="understood" name="understood" value="yes"/><span data-th-text="#{form.submit.disclaimer}" data-th-remove="tag">form.submit.disclaimer</span></label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-3"></div>
                <div class="col-xs-9">
                    <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}"/>
                    <input type="hidden" id="cannot_submit" name="ignore" data-th-value="#{form.submit.failmessage}"/>
                    <button type="submit" id="submitbutton" class="btn btn-default" data-th-text="#{form.submit}">form.submit</button>
                </div>
            </div>
        </form>
    </div>

    <link data-th-replace="thymeleaf-fragments :: page-footer"/>
</div>

</body>
</html>
