<!DOCTYPE html>
<html lang="en">
<head data-th-fragment="styling-and-scripts-in-header" data-th-remove="tag">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta HTTP-EQUIV="expires" CONTENT="0"/>
    <link rel="stylesheet" data-th-href="@{/css/bootstrap-bootswatch-theme-lumen.min.css}"/>
    <script src="${/js/jquery-3.2.1-min.js}"></script>
    <script src="${/js/bootstrap-min.js}"></script>
</head>
<body>
  <p>This page is actually never shown, it just exists as a thymeleaf fragment source.</p>
</body>
</html>
